<footer>
    <div class="f-info">
        <div class="f-social">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div class="f-info-brands">&copy;NESTORA PVT. LTD</div>
        <div class="f-links">
            <a href="/Terms">Terms</a>&nbsp;&&nbsp;
            <a href="/Privacy">Privacy</a>
        </div>
    </div>
</footer>