<% layout('/layouts/boilerplate') %>
  <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 g-4 m-2">
    <%for(listing of alllisting){%>
      <a href="/listings/<%=listing._id%>" class="listing-links">
        <div class="card col ">
          <img src="<%=listing.image.url%>" class="card-img-top" alt="..." style="height: 16rem;">
          <div class="card-img-overlay">
          </div>
          <div class="card-body">
            <h6 class="card-title">
              <b>
                <%=listing.title%>
              </b>
            </h6>
            <p class="card-subtitle mb-2 text-body-primary">
              <b>
                <%=listing.price%>
              </b> &#8377/Night
            </p>
          </div>
        </div>
      </a>
      <% }%>
  </div>
  </body>