<% layout("/layouts/boilerplate") %>
<body>
    <h1>Create New Post</h1>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" placeholder="Enter title here... "><br><br>
        <textarea type="text" name="listing[description]" placeholder="Enter description here... "></textarea><br>
        <input type="number" name="listing[price]"><br>
        <input type="text" name="listing[image]" placeholder="Enter image URL here... "><br>
        <input type="text" name="listing[location]" placeholder="Enter Loaction Here.."><br>
        <input type="text" name="listing[country]" placeholder="enter country here... "><br>
        <button>Submit</button>
    </form>
</body>